.prizes-list {
  padding: 25px;
  list-style: none;
  min-width: 300px;
  float: right;
  display: flex;
  flex-direction: column-reverse;
  align-self: center;
}

.prizes-list-item {
  display: flex;
}

.prizes-list-item-active {
  background: linear-gradient(to left, rgb(252, 74, 26), rgb(247, 183, 51));
  text-align: left !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
}

.prizes-list-number {
  width: 30% !important;
  font-size: 1.275rem !important;
  font-weight: 100 !important;
  text-align: right !important;
  margin-right: 1rem;
}

.prizes-list-amount {
  font-size: 1.275rem !important;
}
